.list-md {
  margin: 0;
  padding: 8px 15px;
}

.succusfully_reg {
  margin: 200px 0 0 0;
  text-align: center;
  h4 {
    font-size: 20px;
    color: #012a3a;
    font-weight: 900;
  }
  ion-icon{font-size:65px;}
}
.create{
  --background:#003849;font-weight: 600;margin: 0px 0px 15px 0px;}