<ion-header>
    <ion-toolbar>
        <ion-title>Registration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group>
        <ion-item-divider color="light"> <b>ORGANISATION INFORMATION</b></ion-item-divider>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Name <span class="dot">*</span></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Email <span class="dot">*</span></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label position="floating">POBox <span class="dot">*</span></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label position="floating">City <span class="dot">*</span></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Telephone <span class="dot">*</span></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-list>
        <br>
        <ion-list>
            <ion-item>
                <ion-label class="type_label">Type <span class="dot">*</span> </ion-label>
                <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="brown">Customer</ion-select-option>
                    <ion-select-option value="blonde">Supplier</ion-select-option>
                    <ion-select-option value="black">Trucking</ion-select-option>
                    <ion-select-option value="red">Cleaning & Forwording</ion-select-option>
                    <ion-select-option value="red">Others</ion-select-option>
                </ion-select>
            </ion-item>
         </ion-list>
    </ion-item-group>



    <div class="forgotPassword" >
        <ion-item-group>
            <ion-item-divider color="light"> <b>USER INFORMATION</b></ion-item-divider>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">First Name <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Last Name <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Designation <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Department <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Mobile <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">User ID <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Email <span class="dot">*</span></ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
  </ion-item-group>

        <div class="login-btn" padding>
            <ion-button  expand="block" class="login">Submit</ion-button>
        </div>

    </div>
</ion-content>