<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/more"></ion-back-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
    <ion-card>
        <img src="assets\about-us.jpg"/>
        <div class="card-title">Abu Dhabi Ports</div>
        <div class="card-subtitle">41 Listings</div>
        <p>Abu Dhabi Ports Pass is a mobile application which allows anyone who wants to enter Abu Dhabi ports to apply for gate pass. One can either register themselves or if registered already, apply for gate pass using this mobile application. This will automatically submit the gate pass application to the next level of approval and customers will be notified once the application has been approved. The mobile application will show status of the gate pass at any point in time and will also show analytics report for all passes applied till date.</p>
    </ion-card>
    <ion-card>
        <div class="abp">
            <h4>Contact Us </h4>
            <p>For any questions, comments, or technical issues related to the Abu Dhabi Ports Pass mobile application, please feel free to contact Abu Dhabi Ports Contact Centre <a href="#">02-4924770</a> or <a href="#">portpasses@adports.ae.</a> <br>Suggestions on how we can improve this mobile application are also welcome.</p>
        </div>
    </ion-card>
    <ion-card>
        <h4>Current Version : 2.5 </h4>
    </ion-card>
    <ion-card>
        <h4>Last Updated : 22 OCT 2018 </h4>
    </ion-card>
</ion-content>