<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="createpass"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="half">
    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label for="tab-one">How do I log in to app ?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label for="tab-two"> if I attach expired or not clear documents?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-three" type="checkbox" name="tabs">
      <label for="tab-three">Can I pay online to get the pass?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-four" type="checkbox" name="tabs">
      <label for="tab-four">Can I adjust the entry date & time?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-five" type="checkbox" name="tabs">
      <label for="tab-five">If the applicant doesn’t have a UAE resident visa?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-six" type="checkbox" name="tabs">
      <label for="tab-six">When I can apply for a pass?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-six1" type="checkbox" name="tabs">
      <label for="tab-six1">How do I submit complaints, suggestions, feedback?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-sev" type="checkbox" name="tabs">
      <label for="tab-sev">I can’t remember my user name, what should I do?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-egt" type="checkbox" name="tabs">
      <label for="tab-egt">Do I have to provide a credit card number to sign up for a preview account?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-nigh" type="checkbox" name="tabs">
      <label for="tab-nigh">Can I use the Application when I’m offline?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-ten" type="checkbox" name="tabs">
      <label for="tab-ten">How do I view or print my pass?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-ele" type="checkbox" name="tabs">
      <label for="tab-ele">How can I contact the ports pass offices?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-twe" type="checkbox" name="tabs">
      <label for="tab-twe">What is charges for the ports passes?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
    <div class="tab">
      <input id="tab-thr" type="checkbox" name="tabs">
      <label for="tab-thr">What is the guidelines & documents required to apply for a ports pass?</label>
      <div class="tab-content">
        <dl>
          <dt>
            <ion-icon
                    class="check-circle"
                    name="checkmark-circle-outline"></ion-icon>
            If you are in an online E-pass user you can use your online E-Pass username & Password, or click to register to create a new user.
          </dt>
        </dl>
      </div>
    </div>
  </div>
</ion-content>