<ion-header>
  <ion-toolbar class="header">
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- Segment with secondary color -->
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
    <ion-segment-button value="APPROVED" checked >
      &nbsp;&nbsp; APPROVED
    </ion-segment-button>
    <ion-segment-button value="NOT APPROVED">
      NOT APPROVED
    </ion-segment-button>
  </ion-segment>
  <div class="approve" *ngIf="!approve;">
    <div class = "approve-list" >
      <!-- List of Text Items -->
      <ion-list >
        <ion-item *ngFor="let tokens of token | keyvalue:mySortingFunction">
               <span *ngIf="getKeys(tokens)">
                  <ion-label *ngFor="let key of keys">  {{tokens[key].TOKEN_NO}} </ion-label>
               </span>
        </ion-item>
      </ion-list>
    </div>
    <div class = "myChartDiv" >
      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
  </div>
  <div class="unapprove" *ngIf="!unapprove">
    <h4>No data to display </h4>
    <ion-icon name="sad"></ion-icon>
  </div>
</ion-content>