<!-- Back button with a default href -->
  <ion-header>
    <ion-toolbar class="header">
      <ion-title>Create Ports Pass</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <form (ngSubmit)="createPass()">
    <!-- List of PassType -->
    <div class="marginTop">
      <ion-list>
        <ion-item-divider>
          <ion-list-header>
            <ion-label>PASS TYPE</ion-label>
          </ion-list-header>
        </ion-item-divider>
        <ion-radio-group>
          <ion-item>
            <ion-label>Daily Pass Online</ion-label>
            <ion-radio value="Daily Pass Online" (click)="selected('Daily Pass Online')" name="Daily Pass Online" [checked]="daily"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Visitor Pass Online</ion-label>
            <ion-radio value="Visitor Pass Online" (click)="selected('Visitor Pass Online')" name="Visitor Pass Online"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <!-- Visit Dates -->
    <div class="marginTop">
      <ion-list>
        <ion-item-divider>
          <ion-list-header>
            <ion-label>Visit Dates </ion-label>
          </ion-list-header>
        </ion-item-divider>

        <ion-item>
          <ion-label>Entry Date & Time</ion-label>
          <ion-datetime name="dtProposedEntryDate" [(ngModel)]="dtProposedEntryDate"  (ionChange)="updateMyDate(dtProposedEntryDate)"  display-format="MM/DD/YYYY hh:mm A" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Exit Date Date & Time</ion-label>
          <ion-datetime name="dtProposedDepartureDate" [(ngModel)]="dtProposedDepartureDate"   disabled ="true" display-format="MM/DD/YYYY hh:mm A"></ion-datetime>
        </ion-item>
      </ion-list>
    </div>
    <!-- Reason To Visit -->
    <div class="marginTop">
      <ion-list >
        <ion-item-divider>
          <ion-list-header>
            <ion-label>REASON TO VISIT</ion-label>
          </ion-list-header>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Reason<span class="dot">*</span></ion-label>
          <ion-input name="strReason" [(ngModel)]="strReason"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <!-- Ports To Visit  -->
    <div class="marginTop">
      <ion-list  >
        <ion-item>
          <ion-list-header>
            <ion-label>PORT TO VISIT</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-radio-group>
          <ion-item *ngFor="let lst of Ports">
            <ion-label>{{lst.DESCRIPTION}}</ion-label>
            <ion-radio name="lst" (click)="selectedPort(lst)" [value]="lst" checked ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <!-- Personal Information -->
    <div class="marginTop">
      <ion-list>
        <ion-item>
          <ion-list-header>
            <ion-label>PERSONAL IMFORMATION</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-item>
          <ion-list-header>TITLE  </ion-list-header>
        </ion-item>
        <ion-radio-group id="title">
          <ion-item>
            <ion-label>Mr</ion-label>
            <ion-radio slot="start"   (ionSelect)="GetTile($event)"   value="Mr"  name="Mr"  checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Miss</ion-label>
            <ion-radio slot="start" (ionSelect)="GetTile($event)"  value="Miss" name="Miss"  ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Mrs</ion-label>
            <ion-radio slot="start" (ionSelect)="GetTile($event)"  value="Mrs" name="Mrs"  ></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item>
          <ion-label position="floating">Name<span class="dot">*</span></ion-label>
          <ion-input name="strFullName" [(ngModel)]="strFullName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Date Of Birth</ion-label>
          <ion-datetime (ionChange)="DateOfBirt($event)" name="date of birth" display-format="MM/DD/YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile<span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strMobile" name="strMobile" ></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <!-- List of Gender -->
    <div class="marginTop">
      <ion-list >
        <ion-item>
          <ion-list-header>
            <ion-label>GENDER</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-radio-group>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio name="Male" value="Male" (ionSelect)="getGender($event)" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio name="Female" value="Female" (ionSelect)="getGender($event)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <!-- List of Nationality -->
    <div class="marginTop">
      <ion-list >
        <ion-item>
          <ion-list-header>
            <ion-label>NATIONALITY</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-item>
          <ion-label>Select Nationality</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="SelectNationality($event)">
            <ion-select-option *ngFor="let nationality of Nationality"  name="nationality" [value]="nationality">{{nationality.DESCRIPTION}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <!-- List of ID type -->
    <div class="marginTop">
      <ion-list >
        <ion-item>
          <ion-list-header>
            <ion-label>ID TYPE</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-radio-group>
          <ion-item>
            <ion-label>UID NUMBER</ion-label>
            <ion-radio (ionSelect)="GetUID($event)" value="UID" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Passport</ion-label>
            <ion-radio (ionSelect)="GetUID($event)" value="Passport" value="Passport"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Emirates ID</ion-label>
            <ion-radio (ionSelect)="GetUID($event)" value="Emirates" value="Emirates"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Others</ion-label>
            <ion-radio (ionSelect)="GetUID($event)" value="Others" value="Others"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <!-- List of ID Information -->
    <div class="marginTop">
      <ion-list >
        <ion-item>
          <ion-list-header>
            <ion-label>ID INFORMATION</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-item>
          <ion-label position="floating">ID#<span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strID_No" name="strID_No"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Emirates ID<span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strEmirateID" name="strEmirateID"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Area To Visits <span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strAreaToVisit" name="strAreaToVisit"></ion-input>
        </ion-item>

          <div class="image-upload">
              <label for="file-input" *ngIf="!image; else avatara">
                  <ion-icon class="profile" ios="ios-contact" md="md-contact" ></ion-icon>
                  <ion-icon class="camera" ios="ios-camera" md="md-camera"></ion-icon>
              </label>

              <input id="file-input" class="file" capture="camera"  type="file" accept="image/*" (change)="changeListener($event, 'image')"/>
              <ng-template #avatara>
              <ion-avatar>
                  <img src="{{image}}" alt="">
                  <ion-icon class="remove" (click)="resetFile()" ios="ios-close" md="md-close"></ion-icon>
              </ion-avatar>

                  <!--<ion-button for="file-input" (click)="resetFile($event)">Reset</ion-button>-->
              </ng-template>

          </div>
      </ion-list>
    </div>
    <!-- List of Vehicle -->
    <div class="marginTop">
      <ion-list>
        <ion-item-divider>
          <ion-list-header>
            <ion-label>VEHICLE</ion-label>
          </ion-list-header>
        </ion-item-divider>
        <ion-radio-group>
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio value="Yes" (click)="selected1('Yes')" [checked]="Yes"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="No" (click)="selected1('No')"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <!-- Company  Information -->
    <div class="marginTop">
      <ion-list >
        <ion-item>
          <ion-list-header>
            <ion-label>COMPANY INFORMATION</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address<span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strAddress" name="strAddress"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email ID<span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strEmail" name="strEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telephone <span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strTelephone" name="strTelephone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fax <span class="dot">*</span></ion-label>
          <ion-input [(ngModel)]="strFax" name="strFax"></ion-input>
        </ion-item>

      </ion-list>
    </div>
      <!-- Host Name -->
      <div class="marginTop">
        <ion-list >
          <ion-item>
            <ion-list-header>
              <ion-label>HOST INFORMATION</ion-label>
            </ion-list-header>
          </ion-item>
          <ion-item>
            <ion-label>Select Host Name</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="SelectHostName($event)">
              <ion-select-option *ngFor="let hostname of HostCompany"  name="hostname" [value]="hostname">{{hostname.DESCRIPTION}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label> Department Name</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="SelectHostDepartment($event)">
              <ion-select-option *ngFor="let hostname1 of HostCompany"  name="hostname1" [value]="hostname1">{{hostname1.DESCRIPTION}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label> Person Name</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="brown">Praveen</ion-select-option>
              <ion-select-option value="blonde">UAE</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    <!-- List of PassType -->
    <div class="marginTop">
      <ion-list >
        <ion-item>
          <ion-list-header>
            <ion-label>ATTACHMENT</ion-label>
          </ion-list-header>
        </ion-item>
        <div class="attachment">
          <ion-grid>
            <ion-row >
              <ion-col size-xs="6" size-sm="6" size-lg="3" size-xl="6" >
                  <label for="pdf">
                  <ion-icon   ios="ios-link" md="md-link" *ngIf="!pdf; else avatara1"></ion-icon>
                  </label>
                  <ng-template #avatara1>
                      <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
                  </ng-template>
                  <input id="pdf"  class="file"  type="file" accept="pdf/*" (change)="changeListener($event, 'pdf')"/>
              </ion-col>
              <ion-col size-xs="6" size-sm="6" size-lg="6" size-xl="6" >
                <label for="pdf1">
                  <ion-icon   ios="ios-link" md="md-link" *ngIf="!pdf1; else avatara2"></ion-icon>
                </label>
                <ng-template #avatara2>
                  <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
                </ng-template>
                <input id="pdf1"  class="file"  type="file" accept="pdf/*" (change)="changeListener($event, 'pdf1')"/>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size-xs="6" size-sm="6" size-lg="6" size-xl="6" >
                <label for="pdf2">
                  <ion-icon   ios="ios-link" md="md-link" *ngIf="!pdf2; else avatara3"></ion-icon>
                </label>
                <ng-template #avatara3>
                  <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
                </ng-template>
                <input id="pdf2"  class="file"  type="file" accept="pdf/*" (change)="changeListener($event, 'pdf2')"/>
              </ion-col>
              <ion-col size-xs="6" size-sm="6" size-lg="6" size-xl="6" >
                <label for="pdf3">
                  <ion-icon   ios="ios-link" md="md-link" *ngIf="!pdf3; else avatara4"></ion-icon>
                </label>
                <ng-template #avatara4>
                  <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
                </ng-template>
                <input id="pdf3"  class="file"  type="file" accept="pdf/*" (change)="changeListener($event, 'pdf3')"/>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-button margin-top (click)="Attach()" expand="block" class="header" >Add Attachment</ion-button>
        <ion-button  margin-top type="submit" expand="block" class="header" > Submit</ion-button>
      </ion-list>
    </div>
    </form>
  </ion-content>

