ion-content{--background: #dedede;}
ion-list {
          padding: 0px 15px 15px 15px;
}
ion-col{text-align: center;}
ion-list-header{
            margin: 0px;
            font-size: 14px;
            padding: 0px;
            font-weight: 600;
            color: #003849;
            }
.marginTop {margin: 10px 0 -8px 0;}
ion-icon{font-size: 50px;}
.profile{text-align: center;margin: 20px 0 0 0;
         ion-icon{
                 font-size: 150px;
                 color: #012a3a;
                 }
         }
.header{--background: #012a3a; color:#fff;}