<ion-header>
  <ion-toolbar class="header">
    <ion-title>More</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="list-margin">
      <div class="morelist">
      <ion-grid>
        <ion-row (click)="FaQ()"  >
          <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
          <div class="moreicon">
            <ion-icon  ios="ios-help" md="md-help"></ion-icon>
          </div>
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-xl="8" >

            <h6>FAQ</h6>
          </ion-col>
          <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
            <div class="moreicon">
           <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </ion-item>
    <ion-item class="list-margin">
      <div class="morelist">
      <ion-grid>
        <ion-row (click)="aboutus()"  >
          <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
          <div class="moreicon">
            <ion-icon name="alert"></ion-icon>
          </div>
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-xl="8" >

            <h6>About Us</h6>
          </ion-col>
          <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
            <div class="moreicon">
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </ion-item>
    <ion-item class="list-margin">
      <div class="morelist">
        <ion-grid>
          <ion-row >
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
                <ion-icon name="send"></ion-icon>
              </div>
            </ion-col>
            <ion-col size-xs="8" size-sm="8" size-lg="8" size-xl="8" >

              <h6>Feedback</h6>
            </ion-col>
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <ion-item class="list-margin">
      <div class="morelist">
        <ion-grid>
          <ion-row >
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
                <ion-icon name="locate"></ion-icon>
              </div>
            </ion-col>
            <ion-col size-xs="8" size-sm="8" size-lg="8" size-xl="8" >

              <h6>Navigate to Kizad Head Office</h6>
            </ion-col>
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
                 <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <ion-item class="list-margin">
      <div class="morelist">
        <ion-grid>
          <ion-row >
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
                <ion-icon name="locate"></ion-icon>
              </div>
            </ion-col>
            <ion-col size-xs="8" size-sm="8" size-lg="8" size-xl="8" >

              <h6>Navigate to Ad Ports Office</h6>
            </ion-col>
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
               <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <ion-item class="list-margin">
      <div class="morelist">
        <ion-grid>
          <ion-row >
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
                <ion-icon name="log-out"></ion-icon>
              </div>
            </ion-col>
            <ion-col size-xs="8" size-sm="8" size-lg="8" size-xl="8" >
                 <h6>Logout</h6>
            </ion-col>
            <ion-col size-xs="2" size-sm="2" size-lg="2" size-xl="2" >
              <div class="moreicon">
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
