<ion-header>
  <ion-toolbar>
    <ion-title>Abu Dhabi Port Pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="dashboard">
  <ion-grid>
    <ion-row >
      <ion-col size-xs="3" size-sm="3" size-lg="3" size-xl="3" >
        <div class="topnav" >
          <a href="#">Create Pass</a>
        </div>
      </ion-col>
      <ion-col size-xs="3" size-sm="3" size-lg="3" size-xl="3" >
        <div class="topnav">
          <a href="#">History</a>
        </div>
      </ion-col>
      <ion-col size-xs="3" size-sm="3" size-lg="3" size-xl="3" >
        <div class="topnav">
          <a href="#">Settings</a>
        </div>
      </ion-col>
      <ion-col size-xs="3" size-sm="3" size-lg="3" size-xl="3" >
        <div class="topnav" >
          <a href="#">More</a>
        </div>
      </ion-col>
    </ion-row>
 
    
  </ion-grid>
</div>
<div class="dashicon"></div>
<div class="login-btn" >
    <ion-button expand="block" class="create-pass" routerLink="createpass" ">Create Pass</ion-button>
    </div>
</ion-content>
