.dashboard{       
    background-color: #003849;
       ion-col {text-align: center;vertical-align: middle;}
a{
  color: #fff;
  text-decoration: none;
  line-height: 41px;
  vertical-align: middle;
  }
}
.dashicon{
  min-height: 357px;
}
  
.login-btn {
    padding: 15px;
    ion-button{--background: #003849;}
}