<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div class="welcome">
        <div class="logo">
            <ion-img src="assets\abu-dhabi-ports-logo-dark.svg"></ion-img>
        </div>
        <h4>Let's get you into your account</h4>
        <h6>Tell us the following to get started:</h6>
    </div>
    <div class="forgotPassword"  >
        <form (ngSubmit)="ResetPassword()">
            <ion-item>
                <ion-label position="floating">Username <span class="dot">*</span></ion-label>
                <ion-input type="text" [(ngModel)]="strLoginId" name="strLoginId" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email <span class="dot">*</span></ion-label>
                <ion-input type="text" [(ngModel)]="strEmail" name="strLoginId" required></ion-input>
            </ion-item>
            <div class="forgot-btn">
                <ion-button expand="block"  type="submit"  class="submit" >Submit</ion-button>
            </div>
        </form>
    </div>
</ion-content>