<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="createpass"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div class="welcome">
        <div class="logo">
        <ion-img src="assets\abu-dhabi-ports-logo-dark.svg"></ion-img>
        </div>
        <h4>Let's get you into your account</h4>
        <h6>Tell us the following to get started:</h6>
        <!--<ul class="list">-->
            <!--<li>User ID</li>-->
            <!--<li>Registered email address</li>-->
        <!--</ul>-->
     </div>
<div class="forgotPassword">
    <ion-item>
        <ion-label position="floating">Username <span class="dot">*</span></ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Email <span class="dot">*</span></ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div class="forgot-btn">
            <ion-button expand="block" class="submit" >Submit</ion-button>
            </div>
       
</div>
</ion-content>
