<ion-header text-center>
    <ion-toolbar class="header">
        <ion-title>Abu Dhabi Ports Pass</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content >
    <div class="home-page" text-center>
        <div class="main">
            <ion-img src="assets\logo.png"></ion-img>
        </div>
        <div class="pass-user-btn">
            <ion-button class="already"  fill="outline" expand="block" routerLink="/login" >I'm already a Ports pass user</ion-button>
            <ion-button class="new" expand="block" fill="outline" routerLink="/registration">I'm new to Ports Pass</ion-button>
        </div>
    </div>
</ion-content>