ion-header{position: fixed;}
// .ion-page{bottom:8px;}
.main {
    text-align: center;
    margin: 165px 0 0 0;
    display: inline-block;
    width: 200px;
    ion-img{ img{  --width: 50%;}}
}

.home-page{background-image: url("../../assets/abhu-dhabi.PNG"); background-size: cover;height: 100%;

     .pass-user-btn{
         padding: 0px 15px 0 15px;
         margin-top: 200px;
         ion-button{font-size: 14px; text-transform: initial;   --height: 45px; font-weight: 600;
         &.already{color:#fff; margin-bottom: 10px; --border-color:#fff;}
         &.new{--background: #fff;color:#333333;--border-color:#fff;    margin-top: 20px;
         }
         }

     }
 }

.header{--background: #34688d;}