
// .ion-page{bottom:8px;}
.main {
    text-align: center;
    margin: 15px 0 0 35px;
    ion-img{ :host img{  --width: 50%;}}
}



ion-footer{ text-align: center; 
    --background:none;
    ion-toolbar {      
        //  --padding-top: 14px;
        padding: 10px;
        .pass-user-btn{
            ion-button{font-size: 16px; text-transform: initial;    --border-radius: 8px;    }
            .already{--background:#003849; margin-bottom: 10px; }
            .new{--background: #ccc;color: #000000;}
            
        }
    }

}
