
    <ion-header class="header">
      <ion-toolbar>
        <ion-title>Prithvi</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content padding>
        <div class="main">
            <ion-img src="assets\home-logo.png"></ion-img>
          </div>
    </ion-content>
  
    <ion-footer>
      <ion-toolbar>
          <div class="pass-user-btn">
              <ion-button class="already" expand="block" routerLink="/more" >I'm already a Ports pass user</ion-button>
              <ion-button class="new" expand="block" routerLink="/Registration">I'm new to Ports Pass</ion-button>
             </div>
      </ion-toolbar>
    </ion-footer>







