
.marginTop {margin: 10px 0 0px 0;}
ion-content{--background: #dedede;}
ion-list {
  padding: 0px 15px 15px 15px;
}
ion-col{text-align: center;}
ion-list-header{
  margin: 0px;
  font-size: 14px;
  padding: 0px;
  font-weight: s;
  color: #003849;
}